.cart-conteiner {
    margin: auto auto;
}
h3 {
    font-size: 30px;
    color: #666;
    padding-top: 1rem;
}
.btn-opciones {
    margin: 10px;
    padding: 5px;
    color: #fff;
    background: #719cb6;
    border: 1px solid #666;
    font-size: 15px;
    border-radius: 5%;
    cursor: pointer;
}
.seguir-link {
    color: #fff;
    text-decoration: none;
}
.seguir:hover {
    background: #4d718a;
}
.vacio {
    height: 30vh;
    margin-bottom: 2rem;
    padding: 4rem;
}