.itemListContainer-Container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 40px;
    justify-content: space-evenly;
    margin: 2rem;
}
.div-card {
    text-decoration: none;
}
@media screen and (max-width:768px){ 
    .itemListContainer-Container {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 40px;
        justify-content: space-evenly;
        margin: 2rem;
    }
}
@media screen and (max-width:425px){ 
    .itemListContainer-Container {
        display: grid;
        grid-template-columns: auto;
        gap: 40px;
        justify-content: space-evenly;
        margin: 2rem;
    }
}