.itemListContainer-Container {
    display: grid;
    grid-template-columns: 20% 20% 20%;
    justify-content: space-around;
    margin: 1rem 4rem;
    padding: 3rem;
}
.div-card {
    text-decoration: none;
}