header {
    display: flex;
    justify-content:space-evenly;
    background: #2471A3;
    border-bottom: 1px solid #333;
    height: 11vh;
}
.title {
    display: flex;
    color: white;
    font-size: 20px;
}
h1 {
    margin-left: 3rem;
}
.logoTipo{
    height: 80px;
    margin: 10px 0 10px 3rem;
    border-radius: 15%;
    border: 1px solid #fff;
}
.filtro {
    margin-top: 16px !important;
    width: 500px;
    height: 5.7vh;
    border-radius: 8px;
    background: white;
}
.btn-container {
    margin-top: 16px;
    height: 6vh;
    background: none;
    border: none;
}
.btn-lupa {
    color: #fff;
    font-size: 45px !important;;
}
.btn-lupa:hover {
    cursor: pointer;
    color: #333;
}
.ruter {
    display: block;
}
.ruter-li {
    text-decoration: none;
    color: #fff;
    margin: 2rem; 
}
.ruter-li:hover {
    cursor: pointer;
    color: #333;
}
ul {
    display: flex;
    margin-top: 1rem;
    margin-right: 5rem;
}
.li {
    list-style: none;
    text-decoration: none;
    color: white;
    margin: auto 10px;
    padding: 15px;   
    justify-content: space-around;
    font-size: 26px;
    background: none !important;
    border: none !important;
}
.carrito {
    font-size: 26px;
    margin: 0 1rem;
}
.category-list {
    width: 1rem;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
}
option {
    color: #000;
    font-size: 16px;
}