header {
    display: flex;
    justify-content:space-around;
    background: #0d76bd;
    border-bottom: 1px solid #333;
    height: 11vh;
}
.title {
    display: flex;
    color: white;
    font-size: 20px;
}
.logoTipo{
    height: 80px;
    margin: 10px 0 10px 3rem;
    border-radius: 15%;
    border: 1px solid #fff;
}
.title-header {
    margin-left: 3rem;
    font-size: 40px;
}
ul {
    display: flex;
    margin-top: 1rem;
    margin-right: 5rem;
}
.li {
    list-style: none;
    text-decoration: none;
    color: white;
    margin: auto 8px;
    padding: 15px;   
    justify-content: space-around;
    font-size: 26px;
    background: none !important;
    border: none !important;
}
.carrito {
    font-size: 26px;
    color: #fff;
    margin: 0 1rem;
    text-decoration: none;
}
.category-list {
    font-size: 28px;
    color: #fff;
    cursor: pointer;
}
.ruter-li {
    background: none;
    text-decoration: none;
    color: #333;
}
@media screen and (max-width: 768px) {
    h1{
        display: none;
    }
}
@media screen and (max-width: 425px) {
    .li{
        display: none;
    }
    .carrito {
        margin:0;
    }
}