.element-conteiner {
    display: flex;
    justify-content: space-around;
    margin: auto;
    height: 65vh;
}
.element-date {
    display: flex;
    width: 40%;
}
.itemCount-count {
    margin-top: 2rem;
    width: 370px;
    border: 1px solid rgb(242, 238, 238);
    border-bottom: 2px solid #999;
    border-radius: 2%;
}
.div-card {
    text-decoration: none;
}