.Footer {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-color: #777;
	width: 100%;
	min-height: 30vh;
	border-top: 1px solid #111;
}
.lg {
	color: #111;
	margin: 5px;
	font-size: 30px;
}
.titulo-footer {
	color: rgb(238, 227, 227);
}
.h4-footer {
	color: #222;
}
