.App {
  text-align: center;
}
.cards {
	display: flex;
	justify-content: space-around;
	margin: 3rem;
}
.btn-cambio {
	margin: 1rem auto 0;
	background: none;
	border: 1px solid #666;
    border-radius: 7%;
	padding: 5px;

}