
.bt-itemCount {
    margin-top: 20px;
}
.btn-suma-resta {
    color: black;
    border: 1px solid rgb(185, 184, 184);
    border-radius: 5px;
    margin: 30px;
    width: 30%;
    height: 3vh;
    cursor: pointer;
    font-size: 25px;
}
.add {
    margin-top: 10px;
}
.btn-compra {
    background: #3498DB;
    border: 1px solid #444;
    padding: 6px;
    height: 4vh;
    width: 80%;
    border-radius: 5px;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
}
.btn-compra:hover {
    background: #2471A3;
    cursor: pointer;
}
.check {
    display: flex;
    justify-content: space-evenly;
}
.btn-check {
    margin: 10px;
    padding: 5px;
    color: #fff;
    border-radius: 6px;
    background: #3498DB;
    border: 1px solid #444;
}
.btn-check:hover {
    background: #2471A3;
    cursor: pointer;
}